$bgcolor: #222222;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(238, 238, 238, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html, body {
    margin: 0;
    
}

nav {
  margin: 0;
  margin-top: 40px;
  width: 70svw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    
    li {
      
      a {
        white-space: nowrap;
        opacity: 0;
        animation: fadein 1.2s ease-in-out 0s 1 forwards;
        padding: 32px;
        letter-spacing: 0.2rem;
        color: rgba(233, 233, 233, 0.87);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          letter-spacing: 0.3rem;
          color: rgba(255, 255, 255, 0.87);
        }
      }
      
    }
  }
}

#skillContainer {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.skill{
  margin: 8px;
  text-align: center;
  position: relative;
  font-size: 1.4rem;
  height: fit-content;
  background-color: rgb(68, 68, 68);
  height: 12px;
  padding: 28px;
  transition: all 0.2s ease-in-out;
    img {
      margin: -16px -16px;
      width: 48px;
      height: 48px;
      float: left;
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.644))
    }
    &:hover{
      background-color: rgb(85, 85, 85);
    }
    meter {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 100%;
      border-radius: 0;
      height: 4px;
      background: none;
      appearance: none;
      &::-moz-meter-bar{
        background: rgb(60, 200, 60);
      }
    }
    
}
.background {
    .fish {
    background-size: contain;
    transform-origin: 30% 30%;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 160vw;
    height: 160vh;
    }

    #fish-1 {
      width: 120vw;
      height: 120vh;
      transform-origin: 60% 10%;
      left: -15%;
      top: 105%;
      background-image: url("../keyfish2.svg");
      animation: deblur 4s ease-in-out 0s 1 forwards, rotate90 200s 0s linear infinite forwards;
    }
    #fish-2 {
      transform-origin: 20% 30%;
      left: 20%;
      top: 30%;
      animation: deblur 4s ease-in-out 0s 1 forwards, rotate 190s 0s linear infinite forwards;
      background-image: url("../keyfish3.svg");
    }
    #fish-3 {
      width: 110vw;
      height: 110vh;
      transform-origin: -3% 3%;
      left: 45%;
      top: 100%;
      animation: deblur 4s ease-in-out 0s 1 forwards, rotate180 230s 0s linear infinite forwards;
      background-image: url("../keyfish4.svg");
    }
    #fish-4 {
      width: 100vw;
      height: 100vh;
      transform-origin: 80% 80%;
      left: -30%;
      top: 30%;
      animation: deblur 4s ease-in-out 0s 1 forwards, rotate90 190s 0s linear infinite forwards reverse;
      background-image: url("../keyfish3reverse.svg");
    }
    //background-image: url("../keyfish.svg");
    
    transform-origin: middle center;
    background-repeat: no-repeat;
    //filter:contrast(100%) brightness(180%) blur(30px);
    
    position: fixed;
    left: 0;
    top: 0;
    width: 170vw;
    height: 170vh;
    z-index: -2;
    //animation: deblur 4s ease-in-out 0s 1 forwards, rotate 230s 0.5s linear infinite forwards;
    overflow: auto;
}
.waves {
      position: fixed;
      width: 100vw;
      bottom: -10px;
      scale: 1;
      z-index: -1;
    }
.curved {
  top: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100svw;
  max-width: 100%;
  background: $bgcolor;
  height: 14vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  //animation: uncurve 2s ease-in 0s 1 forwards;
    
}

section, footer {
  
  position: relative;
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(46, 46, 46,1) 100%);
  padding: 32px 0;
  h1, h2, h3, h4, p {
    margin: 32px 20%;
    text-shadow: 0px 0px 7px rgba(138, 138, 138, 0.5)
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(187, 187, 187, 0.87);
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    margin-left: 22%;
  }
}
section:first-child {
    margin: 100vh 0 0 0;
}

.fullpicture { 
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  transform-origin: center middle;
  background-position: center bottom;

  aside {
    position: relative;
    float: right;
    width: 300px;
    background-color: rgba(15, 15, 15, 0.87);
    color: #fbfdff;
    height: 30vh;
    font-size: 1.55rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 48px;
    text-align: center;
  }
}

.herotext {
  position: absolute;
  left: 50%;
  top: 70%;
  color: #fbfdff;
  font-size: 2.5rem;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: fadein 1.8s ease-in-out 0s 1 forwards;
  span {
    font-size: 4rem;
    opacity: 0;
    transform: translate(-50%, -60%);
    text-shadow: 0 0 6px rgba(15, 15, 15, 0.87);
    animation: fadein 1.8s ease-in-out 0.7s 1 forwards;
  }
}

#mesvg {
  background-image: url("../me.svg");
  
}
.info {
  p {
    margin: -16px 0 0 0;
    text-align: center;
    color: rgba(138, 138, 138, 0.5);
    text-shadow: none;
  }
}
#portfolio{
  .additionalprojects {
    margin: 0;
    text-align: center;
  }
}
#portfoliocontainer {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  label {
    display: block;
    filter: brightness(80%);
    margin: 16px;
  }
  h2 {
    margin: 22px;
  }
  h3 {
    font-size: 0.9rem;
    margin: 16px;
  }
  p {
    margin: 16px;
  }
  ul {
    margin: none;
    text-align: left;
    display: inline;
    padding: 0;
    li {
      display: inline;

      &:not(:first-child)::before {
        content: ", ";
      }
    }
    list-style: none;
  }
  a {
          color: rgba(233, 233, 233, 0.87);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.87);
        }
        }

  .project {
    width: calc((100vw / 3) - 74px - 10%);
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 32px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.07);
  }
}

#contactme {
  #contactcontainer {
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    .contact {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
      text-align: center;
      flex-grow: 0;
      width: 340px;
      padding: 24px;
      margin: 0;
      background-color: rgba(243, 243, 243, 0.07);
      img {
        position: relative;
        left: 50%;

        transform: translate(-50%, 0) scale(1.0);
        width: 250px;
        aspect-ratio: 1 / 1;
        transform-origin: center;
        transition: all 0.3s ease-in-out;
        filter: drop-shadow(0 0 0px rgba(230, 230, 230, 0));
        &:hover {
          filter: drop-shadow(0 0 5px rgba(230, 230, 230, 0.8));
          transform: translate(-50%, 0) scale(1.05);
        }
      }
      h3 {
        a {
          color: rgba(233, 233, 233, 0.87);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.87);
        }
        }
        width: 100%;
        margin: 0;
      }
    }
  }

}
.totop {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    text-align: center;
    color: rgba(238, 238, 238, 0.87);
    text-decoration: none;
    letter-spacing: 0.15rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: rgba(243, 243, 243, 0.87);
      letter-spacing: 0.2rem;
    }
  }
#aboutme {
  background-color: #2d1650;
  background-image: url("../djing.svg");
  background-position: left middle;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  .content {
    margin: 32px;
    width: 70%;
    border: solid 2px rgba(233, 233, 233, 0.87);
    background-color: rgba(31, 31, 31, 0.844);
  }
}


@keyframes deblur {
    0% {
      filter:contrast(100%) brightness(180%) blur(30px);

    }
    100% {
      filter:contrast(100%) brightness(100%) blur(0);

    }
}
@keyframes uncurve {
  0% {
    border-bottom-left-radius: 50% 90%;
    border-bottom-right-radius: 50% 90%;
  }
  100% {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}
@keyframes fadein {
    0% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
}
 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
 }
 @keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  } 100% {
    transform: rotate(450deg);
  }
 }
@keyframes rotate180 {
  0% {
    transform: rotate(180deg);
  } 100% {
    transform: rotate(540deg);
  }
 }

.duration-300 {
  transition-duration: 300ms;
}
.transition-all {
  transition: all;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.delay-150 {
  transition-delay: 150ms;
}

@media screen and (max-width: 1080px) {

  
  .fish {
    
    
  }
  .background {
    #fish-3 {
      top: 120%;
    }

  }
  .herotext {
    top: 60%;
    span {
      transform: translate(-50%,-40%);
    }
  }
  #skillContainer {
    grid-template-columns: 1fr 1fr;
  }
  #aboutme {
    .content {
      width: 100%;
      background-color: rgba(31, 31, 31, 0.944);
    }
  }
  #mesvg {
    background-position: 25%;
  }
  #portfoliocontainer {
    margin: 32px;
    .project {
      width: calc(50% - 80px);
      margin: 6px;
    }
  }
  #contactme {
    #contactcontainer {
      .contact {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc((100vw / 3) - 52px);
        font-size: 0.65rem;
        img {
          width: 160px;

        }
      }
    }
  }
}