$bgcolor: #222222;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  
  color-scheme: light dark;
  color: rgba(238, 238, 238, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html, body {
    margin: 0;
    
}

nav {
  margin: 0;
  width: 70svw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    
    li {

      a {
        color: rgba(233, 233, 233, 0.87);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.87);
        }
      }
      
    }
  }
}


.background {
    background-image: url("../trees-background.jpg");
    object-fit: cover;
    transform-origin: middle center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: deblur 4s ease-in-out 0.5s 1 forwards;
}
.curved {
  top: 0;
  position: absolute;
  width: 100svw;
  background: $bgcolor;
  height: 14vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
    border: rgba(34, 48, 23, 0.548) 2px;
    border-style: none solid solid none;
  animation: uncurve 2s ease-in 0s 1 forwards;
    
}

section {
  position: relative;
  min-height: 40vh;
  background: $bgcolor;
  padding: 32px 0;
  h1, h2, h3, h4, p {
    margin: 32px 20%;
    text-shadow: 0px 0px 7px rgba(138, 138, 138, 0.5)
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(187, 187, 187, 0.87);
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    margin-left: 22%;
  }
}
section:first-child {
    margin: 100vh 0 0 0;
}

.fullpicture { 
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  transform-origin: center middle;
  background-position: center bottom;

  aside {
    position: relative;
    float: right;
    width: 300px;
    background-color: rgba(15, 15, 15, 0.87);
    color: #fbfdff;
    height: 30vh;
    font-size: 1.7rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 48px;
    text-align: center;
  }
}

#mesvg {
  background-image: url("./me.svg");
  
}


@keyframes deblur {
    0% {
      filter:contrast(100%) brightness(180%) blur(30px);
      transform: translateY(-50px);
    }
    100% {
      filter:contrast(100%) brightness(160%) blur(0);
      transform: translateY(0);
    }
}
@keyframes uncurve {
  0% {
    border-bottom-left-radius: 50% 90%;
    border-bottom-right-radius: 50% 90%;
  }
  100% {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}